doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Hombre
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito+Sans:400,600')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css')
  link(rel='stylesheet' href='assets/fonts/ionicons.min.css')
  link(rel='stylesheet' href='assets/css/Footer-Dark.css')
  link(rel='stylesheet' href='assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='assets/css/Navigation-with-Button.css')
  link(rel='stylesheet' href='assets/css/Simple-Slider.css')
  link(rel='stylesheet' href='assets/css/styles.css')
  link(rel='stylesheet' href='assets/css/styleCards.css')

  
  
nav.navbar.navbar-light.navbar-expand-md.navigation-clean-button
  .container
    a.navbar-brand(href='/home') Z.F.S Boutique
    button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    #navcol-1.collapse.navbar-collapse
      ul.nav.navbar-nav.mr-auto
        li.nav-item(role='presentation')
          a.nav-link(href='/home') Inicio
        li.nav-item(role='presentation')
          a.nav-link.active(href='#') Cont&aacute;cto
        li.nav-item.dropdown
          a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#') Categorias
          .dropdown-menu(role='menu')
            a.dropdown-item(role='presentation' href='/all') Todo
            a.dropdown-item(role='presentation' href='/women') Mujer
            a.dropdown-item.active(role='presentation' href='/men') Hombre
            a.dropdown-item(role='presentation' href='/shoes') Zapatos
            a.dropdown-item(role='presentation' href='/age18') +18
      span.navbar-text.actions
        a.login(href='/login/salir') Cerrar Sesion
        a.login(href='/producto') Crear Producto
        a.login(href='#') Ver Carrito
        
.homeParllax(data-bs-parallax-bg='true' style='height: 500px;background-image: url("https://images.unsplash.com/photo-1473269486199-2d4465ea0419?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");background-position: center;background-size: cover;filter: blur(0px) contrast(100%);')
  h1(data-aos='fade-up' data-aos-duration='2500' data-aos-delay='50' style='color: black; font-size: 100px')
    | HOMBRE
    
.container.page-wrapper
  .page-inner
    .row
      - for (var x = 0; x < {cant}.cant; x++)
        .el-wrapper
          .box-up
            - var imageUrl = {arreglo}.arreglo[x].imageUrl
            img.img(src = imageUrl  alt='Image' width='200px')
            .img-info
              .info-inner
                span.p-name #{{arreglo}.arreglo[x].titulo}
                span.p-company #{{arreglo}.arreglo[x].marca}
                span.p-company #{{arreglo}.arreglo[x].tipo}
              .a-size
                | Tallas Disponibles: 
                span.size #{{arreglo}.arreglo[x].size}
          .box-down
            .h-bg
              .h-bg-inner
            a.cart(href='#')
              span.price $ #{{arreglo}.arreglo[x].precio}
              span.add-to-cart
                span.txt Añadir al carrito

.footer-dark
  footer
    .container
      .row
        .col-sm-6.col-md-3.item
          h3 Categorias
          ul
            li
              a(href='/women') Mujer
            li
              a(href='/men') Hombre
            li
              a(href='/age18') +18
        .col-sm-6.col-md-3.item
          h3 ACERCA DE
          ul
            li
              a(href='#') Compa&ntilde;ia
            li
              a(href='#') Equipo
            li
        .col-md-6.item.text
          h3 Z.F.S BOUTIQUE
          p
            | Nos enfocamos en el estilo propio de las personas, ayudandoles a
            | decidir c&oacute;mo quieren verse.
        .col.item.social
          a(href='#')
            i.icon.ion-social-facebook
          a(href='#')
            i.icon.ion-social-twitter
          a(href='#')
            i.icon.ion-social-youtube
          a(href='#')
            i.icon.ion-social-instagram
      p.copyright Z.F.S BOUTIQUE &copy; 2019
script(src='assets/js/jquery.min.js')
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='assets/js/bs-init.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js')
script(src='assets/js/Simple-Slider.js')